<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeMake - Формирование КП</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.min.css">
    <script> </script>
</head>

<body>
    <header> </header>
    <div id="app">
        <main>
            <section class="calc noPrint">
                <div class="calc__content">
                    <div class="container">
                        <div class="calc__wrapper">
                            <div class="calc__inner-data">
                                <h1 class="calc__title">Формирование КП</h1>

                                <label class="styles-input">
                                    <input type="text" autocomplete="off" data-styles-field placeholder=" " id="kpType" v-model="offerTitle">
                                    <span class="styles-text">Заголовок КП</span>
                                </label>

                                <div class="area-field" style="margin-top: 0; margin-bottom: 20px;">
                                    <textarea placeholder=" " id="klpDescr" v-model="offerDescr"></textarea>
                                    <span class="styles-text">Описание КП</span>
                                </div>

                                <label class="styles-input">
                                    <input type="text" autocomplete="off" data-styles-field placeholder=" " id="companyName" v-model="clientName">
                                    <span class="styles-text">Наименование клиента</span>
                                </label>

                                <label class="styles-input">
                                    <input type="number" autocomplete="off" data-styles-field placeholder=" " v-model="projectDeadline">
                                    <span class="styles-text">Срок выполнения проекта</span>
                                </label>

                                <label class="styles-input">
                                    <input type="number" autocomplete="off" data-styles-field placeholder=" " v-model="discountPrecent" @input="calcResult">
                                    <span class="styles-text">Скидка на разработку %</span>
                                </label>

                                <div class="solution">
                                    <div class="wrap">
                                        <span class="solution-title" style="line-height: 120%; margin-bottom: 20px;">Добавить услугу</span>
                                    </div>
                                    <label class="styles-input styles-input__title">
                                        <input type="text" data-styles-field placeholder=" " id="solutionTitle" v-model="serviceTitle">
                                        <span class="styles-text">Заголовок услуги</span>
                                    </label>
                                    <div class="area-field">
                                        <textarea placeholder=" " id="solutionArea" v-model="serviceDescription"></textarea>
                                        <span class="styles-text">Описание услуги</span>
                                    </div>
                                    <div class="solution__footer">
                                        <label class="styles-input">
                                            <input type="number" data-styles-field placeholder=" " v-model="servicePrice">
                                            <span class="styles-text">Стоимость услуги</span>
                                        </label>
                                        <button class="btn" @click="addService">Добавить в смету</button>
                                    </div>
                                </div>
                            </div>
                            <div class="calc__outer-data" v-show="services.length">
                                <h2 class="outer-data__title">Предпросмотр КП</h2>
                                <div class="result-list__wrap">
                                    <draggable class="result-list" :list="services" item-key="serviceId" handle=".handle">
                                        <template #item="{ element }">
                                            <li class="list-item" :class="{editing:element.isEdited}">
                                                <div class="handle">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                                <div class="list-item__wrapper">
                                                    <div class="list-item__head">
                                                        <div class="list-item__block list-item__name">
                                                            <span class="list-item__nameplate">Наименование услуги</span>
                                                            <div class="list-item__data" v-show="!element.isEdited">{{element.serviceTitle}}</div>
                                                            <input type="text" v-show="element.isEdited" v-model="element.serviceTitle" class="editing-input">
                                                        </div>
                                                        <div class="list-item__block">
                                                            <span class="list-item__nameplate">Стоимость</span>
                                                            <div class="list-item__data is-price" v-show="!element.isEdited">{{element.servicePrice.toLocaleString('RU-ru')}} ₸</div>
                                                            <input type="number" v-show="element.isEdited" v-model="element.servicePrice" class="editing-input">
                                                        </div>
                                                        <div class="list-item__delete" @click="deleteservice(element.serviceId)"></div>
                                                        <div class="list-item__edit" @click="element.isEdited = !element.isEdited, saveСhanges(element)"></div>
                                                    </div>
                                                    <div class="list-item__footer">
                                                        <div class="list-item__descr" v-html="element.serviceDescription" v-show="!element.isEdited"></div>
                                                        <textarea class="editing-area" v-model="element.modifyServiceDescription" v-show="element.isEdited"></textarea>
                                                    </div>
                                                </div>
                                            </li>
                                        </template>
                                    </draggable>
                                </div>
                                <div class="calc-result">
                                    <div class="field-price" v-if="discountPrecent">
                                        Стоимость:<span>{{offerPrice.toLocaleString('RU-ru')}}</span>₸
                                    </div>
                                    <div class="field-sale" v-if="discountPrecent">
                                        Скидка {{discountPrecent}} % :<span>{{(offerPrice / 100 * discountPrecent).toLocaleString('RU-ru')}}</span>₸
                                    </div>
                                    <div class="field-total-price">
                                        Итоговая стоимость:<span>{{offerPriceWithDiscount.toLocaleString('RU-ru')}}</span>₸
                                    </div>
                                </div>
                                <div class="btns-wrapper">
                                    <button class="btn" @click="getPrint()">Сформировать КП</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="offer-doc" class="offer-doc" v-if="toPrint">
                <div class="container">
                    <div class="offer-doc__head">
                        <div class="offer-doc__logo">
                            <img src="@img/logo.svg" alt="">
                        </div>
                        <div class="offer-doc__company-data">
                            <span>Натальчук Денис Валерьевич</span>
                            <span>+7 (777) 541-09-00</span>
                            <a href="mailto:natalchuk@wemake.kz" class="blue-tdu">natalchuk@wemake.kz</a>
                        </div>
                    </div>
                    <div class="offer-doc__title" data-id="kpType">{{offerTitle}}</div>
                    <div class="offer-doc__info-fields">
                        <div class="offer-doc__info-field">
                            Дата составления КП:
                            <span class="bold-text" data-id="currentDate">{{getCurrentDate()}}</span>
                        </div>
                        <div class="offer-doc__info-field">
                            Клиент:
                            <span class="bold-text" data-id="companyName">{{clientName}}</span>
                        </div>
                    </div>
                    <div class="offer-doc__descr" data-id="klpDescr">{{offerDescr}}</div>
                    <span class="offer-title">Что будет реализовано:</span>
                    <table class="offer-doc__table">
                        <thead>
                            <tr>
                                <th style="width:30%;">Услуга</th>
                                <th style="width:59%;">Описание</th>
                                <th style="width:11%;">Стоимость</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="service in services" :key="service.serviceId">
                                <td>
                                    <span class="setvise-table-title">{{service.serviceTitle}}</span>
                                </td>
                                <td v-html="service.serviceDescription"></td>
                                <td class="center-text">{{(service.servicePrice).toLocaleString('RU-ru')}} ₸</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="offer-doc__footer">
                        <span class="boss-name">
                            С уважением,<br>Натальчук Д.В.
                        </span>
                        <div class="offer-doc__seal">
                            <img src="@img/seal.png" alt="">
                        </div>
                        <div class="offer-doc__res">
                            <div class="res-block" v-if="discountPrecent">Итого:&nbsp;<span>{{offerPrice.toLocaleString('RU-ru')}}</span>&nbsp;<span>₸</span></div>
                            <div class="res-block" v-if="discountPrecent"> Скидка {{discountPrecent}} % :&nbsp;<span>{{(offerPrice / 100 * discountPrecent).toLocaleString('RU-ru')}}</span>&nbsp;₸</div>
                            <div class="res-block" v-if="projectDeadline">Срок разработки:&nbsp;<span>{{projectDeadline}} рабочих дней</span></div>
                            <div class="res-block">Итоговая стоимость:&nbsp;<span>{{offerPriceWithDiscount.toLocaleString('RU-ru')}}</span>&nbsp;<span>₸</spa>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <footer> </footer>
</body>

<div class="login-modal show" id="login-modal">
    <div class="login-modal__content">
        <div class="login-modal__form">
            <label class="modal-field">
                <span class="modal-field__text"></span>
                <input id="passordField" type="password" name="password" placeholder="Введите пароль">
            </label>
            <button type="button" id="loginBtn" class="btn">Авторизация</button>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.41/vue.global.min.js" integrity="sha512-lgbnN1gNswbc8DPmFF2F9n951EGPK0p9PmPkzECHyjC4bmv6Be6ezWQB7mIjPJ5pAdYehSj+Nm0brW0NjCoFmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="./js/app.min.js"></script>

<script>
    const draggable = window.draggable;

    const vueApp = Vue.createApp({
        data() {
            return {
                services: [],
                offerTitle: '',
                offerDescr: '',
                offerPrice: 0,
                discountPrecent: null,
                offerPriceWithDiscount: 0,
                clientName: '',
                projectDeadline: '',
                serviceTitle: '',
                serviceDescription: '',
                servicePrice: '',
                toPrint: false,
            }
        },
        components: {
            draggable
        },
        methods: {

            saveСhanges(service) {
                this.calcResult()
                this.services.forEach(item => {
                    if (item.serviceId === service.serviceId) {
                        item.serviceDescription = service.modifyServiceDescription.split("\n")
                            .filter(words => words.trim().length > 0)
                            .map(words => {
                                if (words.length > 0) {
                                    return `${words}<br>`;
                                }
                            })
                            .join('');
                    }
                });
            },
            addService() {
                if (!this.serviceTitle.trim() || !this.serviceDescription.trim() || !this.servicePrice) {
                    return;
                }
                let modifyServiceDescription = this.serviceDescription;
                let serviceDescription =
                    this.serviceDescription
                        .split("\n")
                        .filter(words => words.trim().length > 0)
                        .map(words => {
                            if (words.length > 0) {
                                return `${words}<br>`;
                            }
                        })
                        .join('');

                this.services.push({
                    serviceTitle: this.serviceTitle,
                    serviceDescription,
                    modifyServiceDescription,
                    servicePrice: this.servicePrice,
                    serviceId: Math.random().toString(36).substring(2, 9),
                    isEdited: false
                });
                this.serviceTitle = '',
                    this.serviceDescription = '',
                    this.servicePrice = '',
                    this.serviceId = '';

                this.calcResult();

            },

            calcResult() {
                this.offerPrice = this.services.reduce((acc, service) => {
                    return acc += +service.servicePrice
                }, 0);
                this.offerPriceWithDiscount = this.offerPrice - (this.offerPrice / 100 * this.discountPrecent);
            },

            deleteservice(choiseServiceId) {
                this.services = this.services.filter(service => service.serviceId !== choiseServiceId);
                this.calcResult();
            },
            getPrint() {
                this.toPrint = !this.toPrint;
                setTimeout(() => {
                    window.print();
                    this.toPrint = !this.toPrint;
                }, 200);
            },
            getCurrentDate() {
                let Data = new Date();
                let Year = Data.getFullYear();
                let Month = Data.getMonth();
                let Day = Data.getDate();
                let fMonth;
                switch (Month) {
                    case 0: fMonth = "января"; break;
                    case 1: fMonth = "февраля"; break;
                    case 2: fMonth = "марта"; break;
                    case 3: fMonth = "апреля"; break;
                    case 4: fMonth = "мае"; break;
                    case 5: fMonth = "июня"; break;
                    case 6: fMonth = "июля"; break;
                    case 7: fMonth = "августа"; break;
                    case 8: fMonth = "сентября"; break;
                    case 9: fMonth = "октября"; break;
                    case 10: fMonth = "ноября"; break;
                    case 11: fMonth = "декабря"; break;
                }
                return Day + " " + fMonth + " " + Year + " года";
            },
        },
    });


    const someString = 'Voxel987=';
    const loginModal = document.querySelector('#login-modal');
    const loginBtn = document.querySelector('#loginBtn');

    if (sessionStorage.getItem('loginTrue')) {
        loginModal.classList.remove('show');
        vueApp.mount('#app');
    } else {
        loginBtn.addEventListener('click', (e) => {
            e.preventDefault();
            const someStringValue = document.querySelector('#passordField').value.trim();
            if (someStringValue === someString) {
                loginModal.classList.remove('show');
                vueApp.mount('#app');
                sessionStorage.setItem('loginTrue', true);
            } else {
                alert('Пароль не верный!');
            }
        });
    }

</script>

</html>