// тк мы к ним обращаемся везде ниже
@import "fonts.scss";
@import "utils/reset";
@import "utils/vars";
@import "vendors/vendors";

$index: calc(1vw + 1vh);
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes fromOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
}

body {
  background-color: #17171a;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

main {
  // display: none;
  flex-direction: column;
  display: flex;
  &.load {
    // flex-direction: column;
    // display: flex;
    animation: fromOpacity 0.6s ease-in-out forwards;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

*::selection {
  background: #fff;
  color: #000;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  max-width: $desktopWidth;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (max-width: $smDesktopWidth) {
    // max-width: $tableWidth;
  }

  @media screen and (max-width: $tableWidth) {
    max-width: 98%;
  }

  @media screen and (max-width: $phoneWidth) {
    max-width: 100%;
  }

  @media screen and (max-width: $smPhoneWidth) {
    padding: 0 10px;
  }

  &.small {
    max-width: 936px;
  }
}

@import "./common.scss";

.section-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 140%;
}

.calc {
  position: relative;
  width: 100%;
  // min-height: 100vh;
  // height: 100%;
  padding-bottom: 60px;
  // &:before {
  //   position: absolute;
  //   z-index: -1;
  //   content: "";
  //   left: 0;
  //   top: 0;
  //   width: 100%;
  //   height: 100%;
  // }
}

.calc__wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 30px;
  position: relative;
}
.calc__outer-data,
.calc__inner-data {
  // width: 50%;
  flex: 0 0 50%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.calc__outer-data {
  height: calc(100vh - 30px);
  position: sticky;
  top: 0;
  // display: none;
  flex: 0 0 50%;
  &.show {
    animation: fromOpacity 0.6s ease-in-out forwards;
    display: flex;
  }
}

.calc__inner-data {
  padding-right: 30px;
  display: flex;
  flex-direction: column;
}

.calc__outer-data .total-value-block {
  font-size: 30px;
  margin-top: auto;
}
.calc__outer-data .calc__title::after {
  display: none;
}

.calc__title {
  width: fit-content;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 64px;
  line-height: 100%;
  color: #fff;
  position: relative;
  span {
    color: $brand-primary;
  }
}

.select2 {
  width: 100% !important;
}
.select2-container--default .select2-selection--single {
  background: transparent;
  border: none;
  font-size: 16px;
}
.select2-container .select2-selection--single {
  background: #17171a;
  position: relative;
  height: auto;
  padding: 22px 32px;
  border: 1px solid #303032;
  border-radius: 32px !important;
  margin-bottom: 20px;
  transition: border-color 0.2s ease-in-out;

  &:hover {
    border-color: $brand-primary;
  }
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: initial;
}
.select2-selection__placeholder {
  transition: color 0.2s ease-in-out;
  color: #fff !important;
}

.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus.select2-container--open {
  .select2-selection--single {
    border-color: #fff !important;
  }
  .select2-selection__placeholder {
    color: #fff;
  }
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  width: 32px;
  height: 32px;
  background: #303032;
  border-radius: 50%;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.select2-container--default .select2-results > .select2-results__options {
  overflow: hidden;
  max-height: inherit;
  background: #212124;
  border: 1px solid rgba(4, 99, 241, 1);
  box-shadow: 0px 0px 32px rgba(4, 99, 241, 0.7);
  border-radius: 32px;
}

.select2-container--open .select2-dropdown {
  background-color: transparent;
  border: none;
  padding-top: 10px;
}

.select2-results__option--selectable {
  padding: 15px 32px;
}

.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: $brand-primary;
}

.select2-container--default .select2-results__option--selected {
  background-color: #303032;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #ffffff;
  padding-left: 0;
}

.styles-input {
  &:hover,
  &:focus {
    input {
      border-color: $brand-primary;
    }
  }
  border-radius: 123px;
  margin-bottom: 20px;
  background: #17171a;
  position: relative;
  .styles-text {
    line-height: 100%;
    pointer-events: none;
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    color: #767676;
    transition: all 0.25s ease-in-out;
    padding: 0 5px;
    border-radius: 10px;
  }
  input {
    border: 1px solid #303032;
    border-radius: 123px;
    background-color: transparent;
    padding: 22px 32px;
    width: 100%;
    color: #ffffff;
    transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }
}

#clientName ~ .styles-text {
  color: #fff;
}

[data-styles-field]:not(:placeholder-shown) ~ .styles-text,
[data-styles-field]:focus ~ .styles-text {
  background-color: #17171a;
  top: 0px;
  color: rgb(216, 216, 216);
  font-size: 14px;
}

[data-styles-field]:not(:placeholder-shown) {
  border-color: rgb(185, 185, 185);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.togler__wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
}
.togler {
  &.hide {
    opacity: 0;
    visibility: hidden;
  }
  width: 50%;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 32px;
  input[type="checkbox"] {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    &:checked + .togler__text::after {
      left: 33px;
    }
    &:checked + .togler__text::before {
      background: #0463f1;
      box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.55);
    }
  }

  .togler__text {
    display: flex;
    line-height: 100%;
    flex-direction: column;
    padding-left: 80px;
    width: 100%;
    position: relative;
    &::before {
      transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
      position: absolute;
      content: "";
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 64px;
      height: 32px;
      border-radius: 123px;
      background: #303032;
    }
    &:after {
      transition: left 0.2s ease-in-out;
      position: absolute;
      content: "";
      left: 2px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      background: #ffffff;
      width: 28px;
      height: 28px;
    }
  }
  .togler__text-discount {
    font-size: 12px;
    line-height: 100%;
  }
}

.total-value-block {
  display: flex;
  flex-direction: column;
  line-height: 120%;
  gap: 8px;
  font-weight: 400;
  font-size: 20px;
  display: flex;

  &:after {
    display: block;
    content: "";
    width: 97px;
    height: 14px;
    background-image: url(@img/ourCulture.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 8px;
  }
  [data-value-elem],
  [data-total-result] {
    display: inline;
    font-weight: 700;
    color: $brand-primary;
    line-height: 120%;
  }
  .block__w {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }
}

.btn {
  margin-bottom: 40px;
  cursor: pointer;
  padding: 24px 32px;
  color: #fff;
  background-color: $brand-primary;
  border-radius: 8px;
  width: fit-content;
  margin-top: 30px;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  &:hover {
    color: #fff;
  }
  &:active {
    box-shadow: 0px 0px 32px $brand-primary;
  }
  &.ghost {
    background-color: transparent;
    border: 1px solid $brand-primary;
  }
}

.calc__descr {
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: #a0a0a0;
  &:after {
    display: block;
    content: "";
    width: 100%;
    height: 10px;
    background-image: url(@img/technicalCapabilities.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 8px;
  }
}

.disabled-field {
  pointer-events: none;
  background: transparent !important;
  opacity: 0.3;
  .select2-selection__placeholder {
    color: #999 !important;
  }
}

.disabled-btn {
  pointer-events: none;
  opacity: 0.3;
}

@media (max-width: 768px) {
  .calc__frame {
    width: 100%;
    border-radius: 0;
  }
  .calc__title {
    font-size: 28px;
  }
  .calc__logo {
    width: 92px;
    height: 43px;
  }
  .calc__title::after {
    display: none;
  }

  .togler {
    margin-bottom: 30px;
  }
}

@media (max-width: 400px) {
  .select2-container .select2-selection--single * {
    font-size: 14px;
  }
}

.result-list__wrap {
  max-height: 540px;
  height: 100%;
  margin-bottom: 40px;
  overflow: auto;
}
.result-list {
  overflow-y: auto;
  padding-right: 30px;
  .list-item {
    margin-bottom: 10px;
    position: relative;
    border: 1px solid #303032;
    border-radius: 16px;
    padding: 18px 20px;
  }
  .list-item__name {
    margin-right: auto;
  }
  .list-item__head {
    align-items: flex-start;
    gap: 20px;
    display: flex;
    .list-item__delete {
      transition: transform 0.2s ease-in-out;
      cursor: pointer;
      width: 32px;
      height: 32px;
      background: #303032;
      border-radius: 50%;
      background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='32' height='33' viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect y='0.5' width='32' height='32' rx='16' fill='%23BE2B2F'/%3e%3cpath d='M17.4136 16.4998L19.9996 13.9112C20.1675 13.7203 20.2564 13.4727 20.2483 13.2187C20.2402 12.9647 20.1356 12.7232 19.9559 12.5435C19.7762 12.3638 19.5347 12.2592 19.2807 12.2511C19.0267 12.243 18.7791 12.3319 18.5882 12.4998L15.9996 15.0858L13.4062 12.4918C13.3133 12.399 13.2031 12.3253 13.0817 12.275C12.9603 12.2247 12.8303 12.1989 12.6989 12.1989C12.5675 12.1989 12.4375 12.2247 12.3161 12.275C12.1947 12.3253 12.0845 12.399 11.9916 12.4918C11.8987 12.5847 11.825 12.695 11.7747 12.8164C11.7245 12.9377 11.6986 13.0678 11.6986 13.1992C11.6986 13.3305 11.7245 13.4606 11.7747 13.582C11.825 13.7033 11.8987 13.8136 11.9916 13.9065L14.5856 16.4998L11.9996 19.0878C11.8981 19.1785 11.8163 19.2889 11.759 19.4123C11.7017 19.5357 11.6702 19.6694 11.6664 19.8054C11.6626 19.9414 11.6866 20.0767 11.7369 20.2031C11.7872 20.3295 11.8627 20.4443 11.9589 20.5405C12.0551 20.6367 12.1699 20.7122 12.2963 20.7625C12.4227 20.8128 12.558 20.8368 12.694 20.833C12.83 20.8292 12.9637 20.7977 13.0871 20.7404C13.2105 20.6831 13.3209 20.6013 13.4116 20.4998L15.9996 17.9138L18.5849 20.4998C18.7725 20.6874 19.0269 20.7928 19.2922 20.7928C19.5575 20.7928 19.812 20.6874 19.9996 20.4998C20.1872 20.3122 20.2926 20.0578 20.2926 19.7925C20.2926 19.5272 20.1872 19.2728 19.9996 19.0852L17.4136 16.4998Z' fill='white'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .list-item__edit {
      transition: transform 0.2s ease-in-out;
      cursor: pointer;
      width: 32px;
      height: 32px;
      background: #303032;
      background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='32' height='33' viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect y='0.5' width='32' height='32' rx='16' fill='%230463F1'/%3e%3cg clip-path='url(%23clip0_2802_1013)'%3e%3cpath d='M23.216 9.284C22.7064 8.7971 22.0288 8.52539 21.324 8.52539C20.6192 8.52539 19.9416 8.7971 19.432 9.284L9.07401 19.642C8.73262 19.9815 8.46192 20.3853 8.27757 20.8301C8.09323 21.2749 7.99889 21.7519 8.00001 22.2333V23.5C8.00001 23.7652 8.10537 24.0196 8.2929 24.2071C8.48044 24.3946 8.73479 24.5 9.00001 24.5H10.2667C10.7484 24.5013 11.2256 24.407 11.6706 24.2227C12.1156 24.0383 12.5197 23.7676 12.8593 23.426L23.216 13.068C23.7171 12.5658 23.9985 11.8854 23.9985 11.176C23.9985 10.4666 23.7171 9.78617 23.216 9.284V9.284ZM11.444 22.012C11.1309 22.323 10.708 22.4984 10.2667 22.5H10V22.2333C10.0014 21.7916 10.1767 21.3681 10.488 21.0547L18.2 13.3447L19.1553 14.3L11.444 22.012ZM21.8 11.654L20.5693 12.8867L19.6133 11.9307L20.8467 10.7C20.9753 10.5771 21.1464 10.5084 21.3243 10.5084C21.5023 10.5084 21.6734 10.5771 21.802 10.7C21.9277 10.827 21.9981 10.9987 21.9977 11.1774C21.9974 11.3562 21.9263 11.5275 21.8 11.654V11.654Z' fill='white'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_2802_1013'%3e%3crect width='16' height='16' fill='white' transform='translate(8 8.5)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .list-item.editing {
    .list-item__edit {
      background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='32' height='33' viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect y='0.5' width='32' height='32' rx='16' fill='%2328BE40'/%3e%3cg clip-path='url(%23clip0_2802_1012)'%3e%3cpath d='M13.1661 22.275C12.712 22.2752 12.2764 22.0947 11.9555 21.7733L8.29537 18.1145C7.90154 17.7205 7.90154 17.0819 8.29537 16.688C8.68933 16.2941 9.32794 16.2941 9.72189 16.688L13.1661 20.1322L22.2781 11.0202C22.6721 10.6264 23.3107 10.6264 23.7046 11.0202C24.0985 11.4142 24.0985 12.0528 23.7046 12.4467L14.3768 21.7733C14.0559 22.0947 13.6203 22.2752 13.1661 22.275Z' fill='white'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_2802_1012'%3e%3crect width='16' height='16' fill='white' transform='translate(8 8.5)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
    }
  }

  .list-item__nameplate {
    color: #c5c5c5;
    font-weight: 400;
    font-size: 12px;
    line-height: 115%;
    margin-bottom: 5px;
  }
  .list-item__data {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    line-height: 140%;
    gap: 5px;
    align-items: flex-end;
  }

  .list-item__footer {
    padding-top: 10px;
    // display: none;
  }
}

.res-btns {
  display: flex;
  gap: 16px;
}

.os-theme-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
  background: #b5b5b5;
}

.print {
  display: none;
}

@media print {
  .print {
    display: block;
  }
  .noPrint {
    display: none;
  }
  .print-wrapper__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .comp-data {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #17171a;
  }
  .comp-data.r {
    text-align: right;
  }

  .print-wrapper__body {
    margin-top: 80px;
  }

  .title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 30px;
    line-height: 120%;
    color: #17171a;
  }

  .descr {
    font-size: 18px;
    color: #515151;
    margin-bottom: 20px;
  }

  .info {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #17171a;
  }

  table,
  th,
  td {
    border: 1px solid rgba(0, 0, 0, 1);
    color: rgba(0, 0, 0, 1) !important;
  }

  .result-text {
    color: rgba(0, 0, 0, 1) !important;
  }

  table {
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  td,
  th {
    padding: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  th {
    font-weight: 700;
  }

  .res-table {
    width: 100%;
  }

  .comp-logo {
    width: 120px;
    height: 70px;
    overflow: hidden;
  }

  .comp-logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
  }
}

.services-title {
  font-weight: 500;
  font-size: 36px;
  margin: 30px 0;
}
.solution-title {
  font-weight: 500;
  font-size: 36px;
}
.reset-select {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  background-color: #303032;
  border-radius: 50%;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.9615 7.99203C14.4568 7.9965 14.0328 8.37243 13.9678 8.8729C13.4871 12.1578 10.4343 14.431 7.14939 13.9503C3.86445 13.4695 1.59124 10.4167 2.07202 7.1318C2.55281 3.84687 5.60555 1.57365 8.89048 2.05444C10.0102 2.21832 11.0609 2.69495 11.9218 3.42952L11.1677 4.18361C10.9072 4.44424 10.9072 4.86678 11.1679 5.12735C11.2935 5.25291 11.4639 5.32323 11.6415 5.32273H14.7019C15.0704 5.32273 15.3692 5.02397 15.3692 4.65542V1.59505C15.3691 1.2265 15.0703 0.927794 14.7017 0.927856C14.5248 0.927888 14.3552 0.998176 14.2301 1.12324L13.3412 2.01212C10.0342 -0.91778 4.97818 -0.612103 2.04825 2.69492C-0.881677 6.00193 -0.575937 11.058 2.73105 13.9879C6.03804 16.9178 11.0941 16.6121 14.024 13.3051C15.0554 12.1409 15.7251 10.7014 15.9511 9.16253C16.0396 8.61161 15.6647 8.09325 15.1138 8.00479C15.0634 7.99669 15.0125 7.99243 14.9615 7.99203Z' fill='%23767676'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  pointer-events: none;
}

@keyframes toOpac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.solution.selected {
  .reset-select {
    cursor: pointer;
    pointer-events: auto;
    background-color: $brand-primary;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.9615 7.99196C14.4568 7.99644 14.0328 8.37237 13.9678 8.87284C13.4871 12.1578 10.4343 14.431 7.14939 13.9502C3.86445 13.4694 1.59124 10.4167 2.07202 7.13174C2.55281 3.84681 5.60555 1.57359 8.89048 2.05438C10.0102 2.21826 11.0609 2.69489 11.9218 3.42946L11.1677 4.18354C10.9072 4.44418 10.9072 4.86672 11.1679 5.12729C11.2935 5.25285 11.4639 5.32317 11.6415 5.32267H14.7019C15.0704 5.32267 15.3692 5.02391 15.3692 4.65535V1.59499C15.3691 1.22643 15.0703 0.927733 14.7017 0.927795C14.5248 0.927827 14.3552 0.998115 14.2301 1.12318L13.3412 2.01205C10.0342 -0.917841 4.97818 -0.612164 2.04825 2.69485C-0.881677 6.00187 -0.575937 11.0579 2.73105 13.9878C6.03804 16.9178 11.0941 16.612 14.024 13.305C15.0554 12.1409 15.7251 10.7013 15.9511 9.16247C16.0396 8.61155 15.6647 8.09319 15.1138 8.00473C15.0634 7.99663 15.0125 7.99237 14.9615 7.99196Z' fill='white'/%3e%3c/svg%3e ");
  }
}

.styles-label {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-bottom: 20px;
  .select2-container .select2-selection--single {
    margin-bottom: 0;
  }
  &.selected {
    .reset-select {
      cursor: pointer;
      pointer-events: auto;
      background-color: $brand-primary;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.9615 7.99196C14.4568 7.99644 14.0328 8.37237 13.9678 8.87284C13.4871 12.1578 10.4343 14.431 7.14939 13.9502C3.86445 13.4694 1.59124 10.4167 2.07202 7.13174C2.55281 3.84681 5.60555 1.57359 8.89048 2.05438C10.0102 2.21826 11.0609 2.69489 11.9218 3.42946L11.1677 4.18354C10.9072 4.44418 10.9072 4.86672 11.1679 5.12729C11.2935 5.25285 11.4639 5.32317 11.6415 5.32267H14.7019C15.0704 5.32267 15.3692 5.02391 15.3692 4.65535V1.59499C15.3691 1.22643 15.0703 0.927733 14.7017 0.927795C14.5248 0.927827 14.3552 0.998115 14.2301 1.12318L13.3412 2.01205C10.0342 -0.917841 4.97818 -0.612164 2.04825 2.69485C-0.881677 6.00187 -0.575937 11.0579 2.73105 13.9878C6.03804 16.9178 11.0941 16.612 14.024 13.305C15.0554 12.1409 15.7251 10.7013 15.9511 9.16247C16.0396 8.61155 15.6647 8.09319 15.1138 8.00473C15.0634 7.99663 15.0125 7.99237 14.9615 7.99196Z' fill='white'/%3e%3c/svg%3e ");
    }
    .select-placeholder {
      top: 0;
      background-color: #17171a;
      font-size: 14px;
      color: rgb(216, 216, 216);
    }

    .select2-container--default
      .select2-selection--single
      .select2-selection__rendered {
      animation: toOpac 0.4s ease-in-out forwards;
    }
    .select2-container .select2-selection--single {
      border-color: rgb(185, 185, 185);
    }
  }
  .styles-input {
    margin-left: auto;
    margin-bottom: 0;
    max-width: 19%;
    flex-shrink: 0;
  }
}
.solution {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
  .solution-title {
    margin-right: auto;
  }
  .wrap {
    width: 100%;
    gap: 10px;
    display: flex;
  }

  .styles-input__title {
    width: 100%;
    margin-bottom: 0;
  }
}
.area-field {
  position: relative;
  margin-top: 30px;
  width: 100%;
  textarea {
    resize: none;
    width: 100%;
    height: 184px;
    border: 1px solid #303032;
    padding: 22px 32px;
    border-radius: 32px;
    background: #17171a;
    color: #fff;
    transition: border-color 0.25s ease-in-out;

    &:not(:placeholder-shown) ~ .styles-text,
    &:focus ~ .styles-text {
      background: #17171a;
      top: -8px;
      font-size: 14px;
      color: rgb(216, 216, 216);
    }

    &:hover {
      border-color: $brand-primary;
    }
  }
  .styles-text {
    line-height: 100%;
    pointer-events: none;
    position: absolute;
    left: 32px;
    top: 22px;
    color: #767676;
    transition: all 0.25s ease-in-out;
    padding: 0 5px;
    border-radius: 10px;
  }
}

.select2-selection__placeholder {
  opacity: 0 !important;
}
.select-placeholder {
  pointer-events: none;
  z-index: 2;
  position: absolute;
  padding: 0 5px;
  left: 28px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.25s ease-in-out;
}

.solution__footer {
  padding-top: 30px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  .styles-input {
    max-width: inherit;
    width: 225px;
    margin: 0;
  }
  .btn {
    margin: 0;
  }
}

.outer-data__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  margin-bottom: 20px;
}

.list-item__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #a0a0a0;
}

.example-link {
  color: $brand-primary;
  font-weight: 500;
}

.list-item {
  display: flex;
  padding-left: 0 !important;
}

.list-item__wrapper {
  width: 100%;
}
.handle {
  cursor: grab;
  padding: 0px 10px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(212, 212, 212);
  }
}

.list-item[data-present="true"] {
  .is-price {
    text-decoration: line-through;
  }
  [data-is-present] {
    display: flex;
    align-items: center;
    position: relative;
    &:after {
      margin-top: -2px;
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.7498 0.0334025C3.29402 0.0844963 2.84883 0.30209 2.51287 0.638059C1.91105 1.2399 1.74212 2.1494 2.0929 2.899C2.1448 3.00997 2.1873 3.10622 2.1873 3.11287C2.1873 3.11956 1.88549 3.125 1.51662 3.125C0.916553 3.125 0.827834 3.13175 0.674366 3.18918C0.447584 3.27403 0.212522 3.48928 0.102928 3.7124L0.0154282 3.89062L0.00583444 4.85937C-0.00372806 5.826 -0.00357182 5.82843 0.0699907 5.96709C0.120803 6.06287 0.186022 6.12843 0.279803 6.17803L0.415897 6.25H7.9998H15.5837L15.7198 6.17803C15.8136 6.12843 15.8788 6.06287 15.9296 5.96709C16.0032 5.82843 16.0033 5.826 15.9938 4.85937L15.9842 3.89062L15.8967 3.7124C15.7871 3.48928 15.552 3.27403 15.3252 3.18918C15.1718 3.13175 15.0831 3.125 14.483 3.125C14.1141 3.125 13.8123 3.1175 13.8123 3.10834C13.8123 3.09915 13.8459 3.02534 13.8869 2.94428C14.1958 2.33425 14.1367 1.543 13.7373 0.942215C13.0849 -0.0391913 11.7268 -0.277035 10.7923 0.426403C10.6625 0.52409 9.69683 1.38384 9.25762 1.79272L9.15605 1.88725L9.05449 1.79062C8.77665 1.52622 8.42168 1.39212 7.9998 1.39212C7.58221 1.39212 7.3209 1.48693 6.98999 1.75859L6.83952 1.88212L6.77124 1.82034C6.73368 1.78637 6.37949 1.46593 5.98418 1.10828C5.58887 0.750653 5.18312 0.404653 5.08249 0.339403C4.69621 0.088965 4.22327 -0.0196287 3.7498 0.0334025ZM4.42168 1.16353C4.51555 1.21162 4.94593 1.57687 5.4998 2.0785C6.33252 2.83268 6.42262 2.92381 6.43146 3.02078L6.44127 3.12812L5.10333 3.11781C3.89865 3.10856 3.75052 3.10184 3.61587 3.05043C3.39568 2.9664 3.15193 2.72893 3.0479 2.49712C2.96968 2.32281 2.96262 2.27812 2.97487 2.0349C2.99815 1.57196 3.2234 1.27568 3.68243 1.10418C3.86321 1.03662 4.23168 1.06622 4.42168 1.16353ZM12.4798 1.183C12.7256 1.304 12.9022 1.50334 12.9852 1.75322C13.0584 1.97353 13.0367 2.33818 12.939 2.53125C12.8392 2.72822 12.5924 2.95197 12.3807 3.03747C12.2065 3.10778 12.1762 3.1094 10.8826 3.11868L9.5623 3.12812L9.56252 3.025C9.56274 2.9355 9.5968 2.89128 9.82033 2.69037C9.96202 2.56303 10.3507 2.21147 10.6841 1.90912C11.0175 1.60675 11.3468 1.31775 11.4159 1.26684C11.7319 1.03422 12.1161 1.00393 12.4798 1.183ZM1.04493 7.3214C1.0364 7.34365 1.0333 9.11912 1.03805 11.2669L1.04668 15.1719L1.12902 15.3475C1.29577 15.7032 1.57033 15.9095 1.95499 15.9683C2.09724 15.99 2.99299 15.9985 4.5623 15.9929L6.95293 15.9844V11.6406V7.29687L4.00671 7.2889C1.61837 7.28243 1.05752 7.28859 1.04493 7.3214ZM9.04555 7.32015C9.03733 7.34172 9.03424 9.3 9.03865 11.6719L9.04668 15.9844L11.4373 15.9929C13.0066 15.9985 13.9024 15.99 14.0446 15.9683C14.4293 15.9095 14.7038 15.7032 14.8706 15.3475L14.9529 15.1719V11.2344V7.29687L12.0067 7.2889C9.66621 7.28256 9.0574 7.289 9.04555 7.32015Z' fill='%23FFAB00'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}

.complite-count {
  opacity: 0;
  visibility: hidden;
  &.show {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 50%) scale3d(1, 1, 1);
  }
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%) scale3d(1, 0, 0);
  width: 65px;
  height: 25px;
  background-color: #0463f1;
  border-radius: 20px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.16613 11.7753C4.71195 11.7754 4.27638 11.5949 3.9555 11.2735L0.295374 7.61474C-0.098458 7.22078 -0.098458 6.58218 0.295374 6.18822C0.689332 5.79439 1.32794 5.79439 1.72189 6.18822L5.16613 9.63245L14.2781 0.520471C14.6721 0.12664 15.3107 0.12664 15.7046 0.520471C16.0985 0.914429 16.0985 1.55303 15.7046 1.94699L6.37675 11.2735C6.05587 11.5949 5.6203 11.7754 5.16613 11.7753Z' fill='white'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: center;
}

.field-price,
.field-sale,
.field-total-price {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  span {
    font-weight: 700;
    text-transform: uppercase;
    color: #0463f1;
  }
}
.field-total-price {
  font-size: 30px;
}

.calc-result {
  margin-top: auto;
  // margin-bottom: 20px;
  // opacity: 0;
  // visibility: hidden;
  transition: all 0.4s ease-in-out;
  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.has-counter {
  .select2 {
    max-width: 60%;
  }
}
.offer-doc {
  flex: 0 0 100%;
  font-family: "Montserrat", sans-serif;
  // display: none;
  &.print {
    display: block;
  }
}

.offer-doc__logo {
  width: 210px;
  height: 60px;
}
.offer-doc__head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 45px;
}
.offer-doc__title {
  font-size: 28px;
  text-transform: uppercase;
  line-height: 120%;
  font-weight: 700;
  color: #17171a;
  margin-bottom: 30px;
}
.offer-doc__company-data {
  color: #17171a;
  text-align: right;
  font-size: 16px;
  .blue-tdu {
    font-weight: 600;
    color: rgba(4, 99, 241, 1);
    text-decoration: underline;
  }
}

.offer-doc__info-fields {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.offer-doc__info-field {
  font-size: 14px;
  width: 33.33%;
  display: flex;
  line-height: 130%;
  flex-direction: column;
  align-items: flex-start;
  color: #0463f1;
  font-weight: 500;
  .bold-text {
    font-weight: 700;
    color: #17171a;
  }
}

.offer-doc__descr {
  color: #17171a;
  font-weight: 500;
  line-height: 140%;
  font-size: 12px;
  margin-bottom: 30px;
}

.offer-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #17171a;
  margin-bottom: 10px;
}

table,
th,
td {
  border: 1px solid #d9d9d9 !important;
}

th,
td {
  padding: 5px;
}

.offer-doc__table {
  border-collapse: collapse;
  width: 100%;
  * {
    font-size: 11px;
    font-weight: 500;
  }
  th {
    text-align: center;
    font-weight: 700;
  }
  .center-text {
    text-align: center;
  }
  .setvise-table-title {
    font-weight: 700;
    font-size: 10px;
  }
}

.offer-doc__footer {
  break-inside: avoid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer-doc__res {
  text-align: right;
}
.res-block {
  font-size: 14px;
  &:empty {
    display: none;
  }
  &:last-child {
    font-weight: 600;
    font-size: 18px;
  }
  color: #0463f1;
  span {
    display: inline;
    color: #17171a;
  }
}
.boss-name {
  color: #17171a;
  font-size: 12px;
}

.offer-doc__seal {
  width: 230px;
  height: 230px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

#contract {
  display: none;
  background-color: #fff;
  color: #000;
  padding: 20px 0;
  font-size: 12px;
  line-height: 120%;
  &.print {
    display: block;
  }
}
.contract__main-title {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 140%;
  font-weight: 800;
  text-align: center;
  span {
    display: inline;
  }
}

.contract__date {
  text-align: right;
  width: 100%;
  font-weight: 600;
  margin: 15px 0;
  font-size: 12px;
}

.contract__info {
  padding-left: 20px;
  span {
    display: inline;
  }
}

.contract__clause {
  font-size: 20px;
  font-weight: 800;
  margin: 20px 0;
}

.contract__inner-clause,
.contract__small-clause {
  page-break-inside: avoid;
  page-break-after: avoid;
  &.bold {
    font-weight: 600;
    margin-top: 20px;
  }

  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
}
.contract__inner-clause {
  padding-left: 25px;
}

.contract__inner-clause .point {
  width: 30px;
  margin-right: 5px;
  font-weight: 600;
  flex: 0 0 auto;
}
.contract__small-clause .point {
  width: 20px;
  margin-right: 5px;
  font-weight: 600;
  flex: 0 0 auto;
}

.dotted-list {
  margin: 10px 0;
  padding-left: 35px;
  list-style: square;
  &.inner {
    padding-left: 75px;
  }
  li {
    list-style-type: disc;
    display: list-item;
    padding-left: 0px;
    margin-bottom: 10px;
    span {
      display: inline;
      font-weight: 500;
    }
  }
}

.btns-wrapper {
  display: flex;
  gap: 30px;
  .btn {
    margin-bottom: 0;
  }
}

.requisites,
.signatures-wrapper {
  display: flex;
}
.requisites {
  margin-bottom: 25px;
}
.requisites__item,
.signature-item {
  flex: 0 0 50%;
  .requisit-item {
    margin-bottom: 5px;
  }
}
.bold-title {
  font-weight: 600;
  margin-bottom: 20px;
}
.cursive-title {
  font-style: italic;
  margin-bottom: 5px;
}

.requisites-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.requisites-modal__content {
  position: relative;
  min-width: 40vw;
  padding: 40px;
  background-color: rgb(71, 71, 71);
  border-radius: 15px;
  .btns-wrapper {
    width: 100%;
    justify-content: center;
    .ghost {
      background-color: #17171a;
      color: #fff;
      border: 2px solid #fff;
    }
    .btn {
      font-weight: 700;
    }
  }
}

.modal-field {
  margin-bottom: 20px;
  input,
  .modal-field__textarea {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border-radius: 15px;
    background: #17171a;
    color: #fff;
    border: 2px solid transparent;
    &.error {
      border-color: red;
    }
  }
  .modal-field__text {
    font-size: 14px;
    font-weight: 600;
    padding-left: 5px;
    margin-bottom: 5px;
  }

  .modal-field__textarea {
    min-height: 200px;
    resize: none;
  }
}

.modal-close {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_2819_878)'%3e%3cpath d='M23.3639 8.51472L17 14.8787L10.636 8.51472C10.0502 7.92894 9.10048 7.92894 8.5147 8.51472C7.92892 9.1005 7.92892 10.0503 8.5147 10.636L14.8787 17L8.5147 23.364C7.92892 23.9497 7.92892 24.8995 8.5147 25.4853C9.10048 26.0711 10.0502 26.0711 10.636 25.4853L17 19.1213L23.3639 25.4853C23.9497 26.0711 24.8995 26.0711 25.4853 25.4853C26.071 24.8995 26.071 23.9497 25.4853 23.364L19.1213 17L25.4853 10.636C26.071 10.0503 26.071 9.1005 25.4853 8.51472C24.8995 7.92894 23.9497 7.92894 23.3639 8.51472Z' fill='white'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_2819_878'%3e%3crect width='24' height='24' fill='white' transform='translate(0.0294189 17) rotate(-45)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.login-modal {
  opacity: 0;
  visibility: hidden;
  &.show {
    opacity: 1;
    visibility: visible;
  }
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-modal__content {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  background-color: rgb(71, 71, 71);
  border-radius: 15px;

  .btn {
    margin: 10px auto;
  }

  .modal-field {
    width: 100%;
  }
  .login-modal__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.editing-input,
.editing-area {
  width: fit-content;
  background: transparent;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #767676;
}
.editing-area {
  width: 100%;
  resize: vertical;
  min-height: 100px;
}

.radio-switch {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  input {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}
.solution__footer {
  align-items: center;
}

.thead-row,
.tbody-row {
  th:nth-of-type(1),
  td:nth-of-type(1) {
    width: 30%;
  }
  th:nth-of-type(2),
  td:nth-of-type(2) {
    width: 59%;
  }
  th:nth-of-type(3),
  td:nth-of-type(3) {
    width: 11%;
  }

  &.year,
  &.month {
    th:nth-of-type(1),
    td:nth-of-type(1) {
      width: 40%;
    }
    th:nth-of-type(2),
    td:nth-of-type(2) {
      width: 60%;
    }
    th:nth-of-type(3),
    td:nth-of-type(3) {
      display: none;
    }
  }
}

.offer-doc__descr.cursive {
  font-style: italic;
}
